<app-navbar></app-navbar>

<div class="body">
  <!--Slider-->
  <div
    class="w-100 d-flex flex-column flex-lg-row justify-content-center align-items-center"
  >
    <img src="../../../assets/varios/bg-slider.png" class="slider" />
    <img src="../../../assets/varios/bg-papaya.jpg" alt="" />
  </div>

  <!--Contenido interno-->
  <div
    class="d-flex flex-column-reverse flex-lg-row justify-content-center align-items-center mt-3"
  >
    <div class="d-flex flex-column align-items-center mb-3">
      <img src="../../../assets/varios/starcard.jpg" class="mb-3" />
      <img src="../../../assets/varios/cinefilo-star.jpg" />
    </div>
    <div id="contenido-interno" class="px-4 mb-4" style="width: 640px"></div>
  </div>
</div>

<app-footer></app-footer>
