<nav class="navbar navbar-expand-lg p-0">
  <div class="w-100">
    <!--Logo------------->
    <div class="nav-superior">
      <a class="navbar-brand logo" href="index.html">
        <img src="../../../assets/varios/logo-cinestar.png" alt="" />
      </a>
      <!--Toggler------------->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#miNavbar"
        aria-controls="miNavbar"
        aria-expanded="false"
        aria-label="Toggle navigation"
        style="background: white"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <!--navegacion------------->
    <div class="collapse navbar-collapse" id="miNavbar">
      <ul
        class="navbar-nav w-75 d-flex justify-content-around align-items-center m-auto"
      >
        <li class="nav-item">
          <a class="nav-link fw-bold" routerLink="/peliculas/cartelera"
            >Cartelera</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold" routerLink="/peliculas/estrenos"
            >Proximos estrenos</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold" href="http://www.cinestar.com.pe/starcard"
            >Star Card</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold" routerLink="/cines">Nuestros Cines</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link fw-bold"
            href="http://www.cinestar.com.pe/ventas_corporativas"
            >Ventas Corporativas</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link fw-bold"
            href="http://www.cinestar.com.pe/promociones"
            >Promociones</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link fw-bold"
            href="http://www.cinestar.com.pe/cinefilo_star"
            >Blog</a
          >
        </li>
        <li class="nav-item">
          <div class="d-flex align-items-center">
            <a class="nav-link fw-bold">Siguenos en:</a>

            <a href="https://www.facebook.com/multicinestar">
              <img src="../../../assets/varios/ico-face.png" alt="" />
            </a>

            <a href="https://twitter.com/multicinestar">
              <img src="../../../assets/varios/ico-twitter.png" alt="" />
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
